 .greenish-table {
	border-collapse: collapse;
	  padding-right: 20px;
	  padding-bottom: 1px;
	  background-color: rgba(130, 200, 130, 1); 
	border-radius: 10px;
	  width: 90%; 
	}

	.greenish-table th,
	.greenish-table td {
		padding: 10px;
		text-align: left;
		border-bottom: 1px solid #fff;
	}

	.greenish-table th:first-child,
	.greenish-table td:first-child {
		border-top-left-radius: 10px;
	}

	.greenish-table th:last-child,
	.greenish-table td:last-child {
		border-top-right-radius: 10px;
	}

	.greenish-table tr:last-child td {
		border-bottom: none;
	}

    .dropdown-content {
	  display: none;
	}
	.dropdown-content.show {
	  display: block;
	}
    .skill-change ul, { 
	  list-style-type: disc !important; 
      text-align: center;
      vertical-align: middle;
	  margin-left: -20px;
	}
	
	ul.bullet-list {
	  list-style-type: disc;
	}
	
	table {
	  background-color: rgba(130, 200, 130, 1); 
	  border-collapse: collapse;
	  border: 1px solid black;
	}	
	
	table server-info {
	  border-collapse: collapse;
	}
	
	td {
	  padding: 15px;
	  border: 1px solid black;
	}
	
	th {
	  text-align: center;
	}
	
	body {
	  background-image: url("background.jpg"); 
	  background-size: cover;
	  background-attachment: fixed;
	  margin: 80px 0 0;
	}
	
	.container {
	  background-color: rgba(130, 180, 130, 0.9); 
	  padding: 10px; 
	  margin: auto;
	  width: 90%; 
	  border: 2px solid rgba(0, 0, 0, 0.2); 
	  border-radius: 10px;
	}
	
	.custom-table td,
	.custom-table tr {
	  padding-right: 20px;
	  padding-bottom: 1px;
	  border: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the border properties as needed */
	}
    body {
      font-family: Georgia, serif;
    }
	
	.item-header-row {
	  display: flex; 
	  align-items: center; 
	  justify-content: flex-start; /* Align content to the start of the row */
	}

	.item-header-row .name-cell {
	  white-space: nowrap;
	  padding: 1; 
	  border: none;
	  align-items: center; 
	  align-self: flex-end; 
	}
	
	.item-header-row .id-text {
	  color: gray;
	  font-style: italic; 
	  font-size: 9px; 
	  margin-bottom: 13px; 
	  padding: 0; 
	  border: none; 
	   align-self: flex-end; 
	}

	header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  display: flex;
	  padding: 10px;
	  justify-content: space-between;
	  align-items: center;
	  background-color: #303234;
	  color: #FFFFFF;
	}

	.header-image {
	  max-width: 100%;
	  max-height: 54px;
	  margin-left: auto; 
	  margin-right: 20px;
	}
